.update-stock {
    width: 120px;
    height: 40px;
    background: #ff7800;
    color: white;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
}
@media only screen and (max-width: 480px) {
    .table-buttons {
        display: flex;
    }
    .update-stock {
        font-size: 10px;
        height: 30px;
    }
    .table-buttons .btn-danger {
        height: 30px !important;
        font-size: 10px !important;
    }
}