.banner {
    background: url(../../../images/banner-bg.webp);
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner h2 {
    font-weight: 600;
}
.banner-text {
    width: 50%;
}
@media only screen and (max-width: 480px) {
    .banner-text {
        width: 100%;
    }
}